{{> header}}
<div class="content">
    <p>Dear Customer,</p>
    <p>Thank you for registering an account with us. Please use the following One Time Password (OTP) to complete your email verification process:</p>
    <div class="otp">{{otp}}</div>
    <p>This OTP is valid for {{expiresIn}}.</p>
    <p>Visit our website for more details: <a class="website-url" href="https://teleface.com">Teleface</a></p>
</div>
{{> footer}}