<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            background-color: #18181b;
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            color: #fafafa;
            border-radius: 8px;
            box-shadow: 0 0 10px #27272a;
            border: 1px solid #ffffff1a;
        }
        .header {
            text-align: center;
            padding: 10px 0;
            border-bottom: 1px solid #ffffff1a;
        }
        .header h1 {
            margin: 0;
            font-size: 24px;
            color:#e4e4e7;
        }
        .content {
            padding: 20px;
            text-align: center;
        }
        .content p {
            font-size: 18px;
        }
        .otp {
            display: inline-block;
            margin: 20px 0;
            padding: 10px 20px;
            font-size: 24px;
            font-weight: bold;
            color: #e4e4e7;
            background-color: #27272a;
            border-radius: 4px;
            text-decoration: none;
        }
        .footer {
            text-align: center;
            padding: 10px 0;
            border-top: 1px solid #ffffff1a;
            font-size: 14px;
            color: #9f9fa9;
        }
        a.website-url {
            text-decoration: none;
            color: #11cbff;
        }
        a.website-url:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
      {{{body}}}
    </div>
</body>
</html>